/* Add a black background color to the top navigation */
.flex-container {
    display: flex;
    border-style: solid;
    border-width: 1px;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    border-style: solid;
    border-width: 2px;
    background-color: black;
    color: white;
    border-color: black;
}

a {
    color: white;
}

.ics-logo {
    opacity: 0.2;
}

.photo {
    border-width: 5px;
    justify-content: center;
    align-items: center;
}

.project-flex {
    display: flex;
    border-style: none;
}

.skills_bio {
    display: flex;
    border-style: none;
    text-align: center;
}

.project-12 {
    border-width: 2px;
}

.project-22 {
    border-width: 2px;
}

.project-150 {
    border-width: 2px;
}

.skills {
    border-width: 2px;
}

.bio {
    border-width: 2px;
}

.projects {
    text-align: center;
}

.footer {
    border-style: solid;
}

.big-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}