.flex-container {
    background-color: gray;
    display: flex;
    border: solid 1px gray;
    margin: 10px;
    padding: 10px;
    align-items: center;
    width: 100%;
    max-width: 300px;
    font-weight: bold; 
    margin-left: auto;
    position: relative;
    top: -400px;
    right: 123px;
}

.shopping-cart-title {
    text-align: right;
    position: relative;
    top: -300px;
    right: 0;
    padding: 100px;
    
}

.remove-from-cart {
    padding: 10px;
    margin-left: auto;
}

.remove-from-cart img {
    width: 20px;
    height: 20px;
}